<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <main class="splash flex justify-center items-center">
      <div class="mb-16">
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% elsif %>
          <p class="alert"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
