<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <main class="h-screen splash flex justify-center items-center">
      <div class="splash">
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% elsif %>
          <p class="alert"><%= alert %></p>
        <% end %>
        <div class="mb-16">
          <%= yield %>
        </div>

        <div class="flex justify-center mb-6"> 
          <% if user_signed_in? %> 
            <div>
              Signed in as <%= current_user.name %>. This cannot be cheese?&nbsp; <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "bg-sky-500 py-3 px-6 rounded-md text-lg text-slate-50" %> 
            </div>
          <% else %> 
            <div>
              <%= link_to 'Register', new_user_registration_path, class: "border bg-sky-500 py-3 px-6 rounded-md text-lg text-slate-50" %> &nbsp;OR&nbsp; <%= link_to 'Sign in', new_user_session_path, class: "border border-sky-500 px-6 py-3 px-6 text-lg text-sky-500 rounded"%> 
            </div>
          <% end %>
        </div>
      </div>
    </main>
  </body>
</html>
